.clients {
  padding-top: 32px;

  background-color: $main-color;
  background-image: url("../img/service/hieroglyph.svg");
  background-repeat: no-repeat;
  background-position: -60px -45px;
  background-size: 660px;
}

.clients__title {
  @include h2-m;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 33px;

  color: #ffffff;
}

.clients__card-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 32px;
}

.clients__card {
  @include shadow-card;
  padding: 24px 16px;

  border-radius: 4px;
}

.clients__card-header-wrapper {
  margin-bottom: 20px;
}

.clients__logo {
  width: 79px;
  height: 44px;
}

.clients__info {
  display: none;
}

.clients__toggle {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -1px;

  border-radius: 2px;
  background-color: #0b7572;

  &--opened {
    & .clients__number {
      display: block;
    }
  }
}

.no-js .clients__toggle {
  display: none;
}

.clients__toggle-btn {
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;

  width: 25px;
  height: 25px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/service/icon-down.svg");
  background-size: 43%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.clients__number {
  position: relative;

  display: none;
  margin-right: 50px;
  padding: 7px 16px;

  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;

  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;

    height: 1px;

    background-color: #ffffff;
    opacity: 0.5;
  }

  &--active {
    display: block;
    order: -1;

    &:before {
      display: none;
    }
  }
}

.clients__table {
  border-collapse: collapse;
  background-color: #F9F9FB;
}

.clients__table-head {
  display: none;
}

.clients__item {
  display: none;
  flex-wrap: wrap;
  padding-bottom: 11px;

  &--active {
    display: flex;
  }
}

@media (max-width: ($tablet-width - 1px)) {
  .no-js .clients__item {
    display: flex;

    border-bottom: 2px #d7d7dd solid;

    &:last-child {
      border-bottom: none;
    }
  }
}

.clients__item-value {
  @include text-m;
  padding: 18px 0 15px;
  margin-left: 16px;
  width: calc(100% - 16px - 16px);

  font-size: 14px;
  line-height: 135%;

  border-top: 1px #d7d7dd solid;

  &--pic {
    width: 90px;
    margin-right: 16px;
    padding-bottom: 22px;

    border-top: none;

    & img {
      display: block;
    }
  }

  &--name {
    width: calc( 100% - 16px * 3 - 90px);
    margin-left: 0;

    border-top: none;
  }
}

.clients__cost {
  display: block;
  margin-top: 8px;

  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.clients__contact-name,
.clients__producer-name {
  display: block;
  margin-bottom: 4px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.clients__contact-tel {
  display: block;
  margin-top: 7px;

  color: #363738;

}

.clients__rating {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  width: 75px;
}

.clients__star {
  display: block;
  width: 12px;
  height: 11px;

  background-repeat: no-repeat;

  &--yellow {
    background-image: url("../img/service/star-yellow.svg");
  }

  &--half {
    background-image: url("../img/service/star-half.svg");
  }

  &--gray {
    background-image: url("../img/service/star-gray.svg");
  }
}

@media (min-width: $tablet-width) {
  .clients {
    padding-top: 64px;

    background-position: 24px -38px;
    background-size: 880px;
  }

  .clients__title {
    @include h2-t;
    display: block;
    width: $tablet-width;
    padding-left: 39px;
    padding-right: 39px + 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
  }

  .clients__card-wrapper {
    width: $tablet-width;
    padding-left: 39px;
    padding-right: 43px;
    padding-bottom: 64px;
    margin: 0 auto;
  }

  .clients__card {
    padding: 24px 48px 40px 51px;
  }

  .clients__card-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-left: 9px;
    padding-bottom: 19px;

    border-bottom: 1px #d7d7dd solid;
  }

  .clients__logo {
    width: 103px;
    height: 57px;
  }

  .clients__info {
    display: block;
    width: 282px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #6b6b6c;
  }

  .clients__toggle {
    display: none;
  }

  .clients__table-head {
    display: table-cell;
    padding: 10px 0;

    font-family: "Exo 2", "Arial", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;

    background-color: $main-color;
  }

  .clients__item {
    display: table-row;

    &:nth-child(2) {
      & .clients__item-value {
        padding-top: 25px;
      }

      & .clients__item-value:before {
        top: 8px;
      }
    }

    &:last-child {
      & .clients__item-value {
        padding-bottom: 35px;
      }

      & .clients__item-value:before {
        bottom: 24px;
      }

      & .clients__item-value:after {
        display: none;
      }
    }
  }

  .clients__item-value {
    @include text-td;
    position: relative;

    padding: 16px;

    font-size: 14px;
    line-height: 135%;

    vertical-align: top;
    border-top: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      width: 1px;

      background-color: #d7d7dd;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 1px;

      background-color: #d7d7dd;
    }

    &--pic {
      width: 113px;

      & img {
        width: 81px;
        height: 81px;
      }

      &:after {
        left: 16px;
      }
    }

    &--name {
      width: 148px;
    }

    &--prod {
      width: 173px;
    }

    &--contact {
      width: 154px;

      &:before {
        display: none;
      }

      &:after {
        right: 16px;
      }
    }
  }

  .clients__cost {
    margin-top: 6px;
  }

  .clients__contact-name,
  .clients__producer-name {
    margin-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .clients {
    display: flex;
    justify-content: space-between;
    width: $desktop-width - 100px * 2;
    margin-left: auto;
    margin-right: auto;
    padding: 85px 67px 85px 81px;

    background-position: 34px -4px;
    background-size: 1150px;
  }

  .clients__title {
    @include h2-d;
    width: auto;
    margin: 0;
    padding: 15px 0 0;
  }

  .clients__card-wrapper {
    width: 652px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
  }

  .clients__card {
    padding: 29px 33px 40px 32px;
  }

  .clients__card-header-wrapper {
    padding-bottom: 26px;
    margin-bottom: 32px;
  }

  .clients__item-value {
    padding: 25px 16px 20px;
  }
}
