.contact-us__wrapper {
  margin-bottom: 64px;
  background-color: $main-color;
  padding: 40px 16px 47px;
}

.contact-us__form-wrapper {
   color: #ffffff;
}

.contact-us__title {
  @include h2-m;
  margin-bottom: 30px;

  color: #ffffff;
}

.contact-us__label {
  display: block;

  font-size: 15px;
  line-height: 125%;

  &--textarea {
    position: relative;

    margin-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;

      height: 1px;

      background-color: #ffffff;
      opacity: 0.2;
      box-shadow: 0 40px 0 0 #ffffff,
      0 80px 0 0 #ffffff,
      0 120px 0 0 #ffffff,
      0 160px 0 0 #ffffff;
    }
  }

  &--tz {
    position: relative;

    padding-left: 39px;
    padding-bottom: 12px;
    margin-bottom: 34px;

    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 21px;
      height: 19px;

      background-image: url("../img/service/attach.svg");
    }
  }

  &--pics {
    position: relative;

    padding-left: 39px;
    padding-bottom: 13px;
    margin-bottom: 72px;

    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 19px;

      background-image: url("../img/service/add.svg");
    }
  }
}

.contact-us__form-textarea {
  width: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;

  background-color: transparent;
  border: none;

  resize: none;

  &::placeholder {
    color: #ffffff;
  }
}

.contact-us__form-button {
  width: 100%;
  padding: 13px 0;

  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: $main-color;

  background-color: #ffffff;
  border-radius: 4px;
  border: none;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.contact-us__data-view-title {
  @include h2-m;
  margin-bottom: 27px;
}

.contact-us__data-list {
  @include reset-list;
}

.contact-us__data-item {
  margin-bottom: 37px;
}

.contact-us__data-name {
  @include h3-m;
  margin-bottom: 10px;

  &--pics {
    margin-bottom: 20px;
  }
}

.contact-us__data-value {
  @include text-m;
  margin-bottom: 0;

  &--tz {
    position: relative;

    padding-left: 31px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 15px;
      height: 20px;

      background-image: url("../img/service/file.svg");
    }
  }
}

.contact-us__data-link {
  color: #363738;
  text-decoration: underline ;
}

.contact-us__pic-list {
  display: flex;
  flex-wrap: wrap;
}

.contact-us__pic-item {
  max-width: 113px;
  margin-right: 6px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.contact-us__pic-img {
  display: block;
  height: 86px;
  margin-bottom: 9px;
}

.contact-us__data-confirm {
  width: 100%;
  padding: 13px 0;

  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  background-color: $main-color;
}

@media (min-width: $tablet-width) {
  .contact-us__wrapper {
    margin-bottom: 88px;
    padding: 56px 56px 48px;
  }

  .contact-us__title {
    @include h2-t;
    margin-bottom: 38px;
  }

  .contact-us__label {
    font-size: 16px;

    &--textarea {
      margin-bottom: 48px;

      &:before {
        top: 46px;

        box-shadow: 0 48px 0 0 #ffffff,
        0 96px 0 0 #ffffff,
        0 144px 0 0 #ffffff,
        0 192px 0 0 #ffffff;
      }
    }

    &--pics {
      margin-bottom: 65px;
    }
  }

  .contact-us__form-textarea {
    font-size: 16px;
    line-height: 48px;
  }

  .contact-us__form-button {
    width: 206px;

    font-size: 16px;
  }

  .contact-us__data-view-title {
    @include h2-t;
  }

  .contact-us__data-wrapper {
    padding: 35px 67px 48px 40px;

    background-color: #f9f9fb;
    border-radius: 5px;
  }

  .contact-us__data-item {
    margin-bottom: 43px;

    &--pics {
      margin-bottom: 67px;
    }
  }

  .contact-us__data-name {
    @include h3-td;
  }

  .contact-us__data-value {
    @include text-td;
  }

  .contact-us__pic-list {
    justify-content: flex-start;
  }

  .contact-us__pic-item {
    max-width: 180px;
    margin-right: 16px;
  }

  .contact-us__pic-img {
    height: 136px;
    margin-bottom: 14px;
  }

  .contact-us__data-confirm {
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .contact-us__wrapper {
    display: flex;
    margin-bottom: 120px;
    padding: 0;
  }

  .contact-us__form-wrapper {
    flex-grow: 1;
    padding: 56px;
  }

  .contact-us__title {
    @include h2-d;
    margin-bottom: 45px;
  }

  .contact-us__form-pic {
    width: 541px;
    flex-shrink: 0;

    background-image: url("../img/form-bg.jpg");
    background-image: -webkit-image-set(
      url("../img/form-bg.jpg") 1x,
      url("../img/form-bg@2x.jpg") 2x);
    background-image: image-set(
      url("../img/form-bg.jpg") 1x,
      url("../img/form-bg@2x.jpg") 2x);
    background-position: center;
  }

  .contact-us__data-view-title {
    @include h2-d;
  }

  .contact-us__data-wrapper {
    padding: 60px 105px 48px 55px;
  }

  .contact-us__data-item {
    margin-bottom: 33px;

    &--pics {
      margin-bottom: 74px;
    }
  }
}
