.contacts__title {
  @include h2-m;
  margin-bottom: 50px;
}

.contacts__list {
  @include reset-list;
  margin-bottom: 68px;
}

.contacts__item {
  position: relative;

  margin-bottom: 42px;
  padding-left: 64px;
}

.contacts__icon {
  position: absolute;
  top: 5px;
  left: 0;

  background-repeat: no-repeat;
  background-size: contain;

  &--tel {
    width: 24px;
    height: 33px;

    background-image: url("../img/service/phone.svg");
  }

  &--email {
    width: 32px;
    height: 20px;

    background-image: url("../img/service/email.svg");
  }

  &--whatsapp {
    width: 32px;
    height: 32px;

    background-image: url("../img/service/whatsapp.svg");
  }

  &--skype {
    width: 32px;
    height: 32px;

    background-image: url("../img/service/skype.svg");
  }
}

.contacts__name {
  @include text-m;
  margin-bottom: 4px;
}

.contacts__value {
  @include h3-m;
  font-size: 20px;

  &:focus,
  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.6;
  };
}

.contacts__table {
  padding: 16px 24px 28px;
  background-color: #f9f9fb;
}

.contacts__table-row {
  padding-top: 22px;
  padding-bottom: 17px;

  border-bottom: 1px #d7d7dd solid;

  &:last-child {
    border-bottom: none;
  }
}

.contacts__table-key {
  @include text-m;
  display: block;
  margin-bottom: 8px;
}

.contacts__table-value {
  @include h3-m;
  font-size: 16px;
  line-height: 135%;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include h2-t;
    margin-bottom: 55px;
  }

  .contacts__list {
    margin-bottom: 58px;
  }

  .contacts__item {
    padding-left: 59px;
    margin-bottom: 38px;
  }

  .contacts__icon {
    &--tel {
      width: 23px;
      height: 32px;
    }

    &--email {
      width: 28px;
      height: 18px;
    }

    &--whatsapp {
      width: 28px;
      height: 28px;
    }

    &--skype {
      width: 28px;
      height: 28px;
    }
  }

  .contacts__name {
    @include text-td;
    margin-bottom: 1px;

    font-size: 14px;
  }

  .contacts__value {
    @include h3-td;
  }

  .contacts__table {
    padding: 0 28px 33px;
  }

  .contacts__table-row {
    display: flex;
    padding-bottom: 9px;
    padding-top: 33px;
  }

  .contacts__table-key {
    width: 175px;
    margin-right: 16px;
    margin-bottom: 0;
    flex-shrink: 0;

    font-size: 16px;
    line-height: 125%;
  }

  .contacts__table-value {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__title {
    @include h2-d;
    margin-bottom: 62px;
    width: 100%;
    flex-shrink: 0;
  }

  .contacts__list {
    padding-top: 21px;
    margin-bottom: 0;
  }

  .contacts__table {
    width: 794px;
    flex-shrink: 0;
    padding: 7px 48px 41px;
  }

  .contacts__table-key {
    width: 190px;
    margin-right: 41px;
  }
}
