.hero {
  padding-top: 75px;

  background-color: $main-color;
}

.hero__title {
  @include h2-m;
  color: #ffffff;
}

.hero__text {
  @include text-m;
  color: #ffffff;
}

.hero__more-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;

  border-bottom: 2px $second-color solid;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.hero__img {
  display: block;
}

@media (min-width: $tablet-width) {
  .hero {
    position: relative;

    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      width: calc( (100vw - $tablet-width)/2 + 177px );

      background-color: $main-color;
    }
  }

  .hero__wrapper {
    position: relative;
    z-index: 1;
  }

  .hero__title {
    @include h2-t;
    color: #363738;
  }

  .hero__text {
    @include text-td;
    color: #6b6b6c;
  }

  .hero__more-link {
    color: #363738;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    &::after {
      width: calc( (100vw - $desktop-width)/2 + 600px );
      bottom: -106px;
    }
  }

  .hero__wrapper {
    display: flex;
  }

  .hero__title {
    font-size: 52px;
    line-height: 125%;
  }

  .hero__text {
    @include text-td;
  }
}
