.hero {
  padding-top: 75px;

  background-color: $main-color;
}

.hero__title {
  @include h2-m;
  margin-bottom: 27px;

  color: #ffffff;
}

.hero__text {
  @include text-m;
  margin-bottom: 26px;

  color: #ffffff;
}

.hero__add-text {
  display: none;
}

.hero__more-link {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 1px;
  width: fit-content;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;

  border-bottom: 3px $second-color solid;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.hero__img-wrapper {
  display: flex;
  justify-content: center;

  & picture {
    width: 100%;
    max-width: 500px;
  }
}

.hero__img {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .hero {
    position: relative;

    padding-top: 80px;

    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      width: calc( (100vw - $tablet-width)/2 + 177px );

      background-color: $main-color;
    }
  }

  .hero__wrapper {
    position: relative;
    z-index: 1;
  }

  .hero__text-wrapper {
    width: 520px;
  }

  .hero__title {
    @include h2-t;
    margin-bottom: 30px;

    color: #363738;
  }

  .hero__text {
    @include text-td;
    margin-bottom: 55px;

    color: #6b6b6c;
  }

  .hero__add-text {
    display: inline;
  }

  .hero__more-link {
    margin-bottom: 55px;

    color: #363738;
    letter-spacing: 0.5px;
  }

  .hero__img-wrapper {
    display: block;

    & picture {
      max-width: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding-top: 109px;

    &::after {
      width: calc( (100vw - $desktop-width)/2 + 600px );
      bottom: -172px;
    }
  }

  .hero__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hero__text-wrapper {
    padding-top: 81px;
    width: 532px;
  }

  .hero__title {
    font-size: 52px;
    line-height: 125%;
  }

  .hero__text {
    @include text-td;

    width: 525px;
    margin-bottom: 34px;
  }
}
