.partners__title {
  @include h2-m;
  margin-bottom: 50px;
}

.partners__group {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  &--active {
    display: flex;
  }
}

.no-js .partners__group {
  display: flex;
}

.partners__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 0 13px;
  margin-bottom: 44px;

  &:nth-child(2n-1) {
    border-right: 1px #d7d7dd solid;
  }
}

.partners__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 90px;
  margin-bottom: 21px;
}

.partners__name {
  @include h3-m;
  margin-bottom: 7px;
}

.partners__desc {
  @include text-m;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 0;
}

.partners__pagination {
  margin-top: -8px;
}

.no-js .partners__pagination {
  display: none;
}

@media (min-width: $tablet-width) {
  .partners__title {
    @include h2-t;
    margin-bottom: 55px;
  }

  .partners__group {
    display: flex;

    &:last-child .partners__item:nth-last-child(2),
    &:last-child .partners__item:last-child {
      margin-bottom: 0;
    }
  }

  .partners__item {
    margin-bottom: 60px;

    &:nth-child(2n-1) {
      padding-right: 100px;
    }
  }

  .partners__logo-wrapper {
    width: 340px;
    height: 105px;
  }

  .partners__logo {
    &--rosatom {
      width: 79px;
      height: 101px;
    }

    &--gasprom {
      width: 150px;
      height: 72px;
    }

    &--rosneft {
      width: 125px;
      height: 100px;
    }

    &--roscosmos {
      width: 77px;
      height: 93px;
    }

    &--lukoil {
      width: 182px;
      height: 49px;
    }

    &--interraoes {
      width: 95px;
      height: 88px;
    }

    &--rostech {
      width: 79px;
      height: 97px;
    }

    &--vtb {
      width: 145px;
      height: 52px;
    }
  }

  .partners__name {
    @include h3-td;
  }

  .partners__desc {
    line-height: 135%;
  }

  .partners__pagination {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .partners__title {
    @include h2-d;

    margin-bottom: 78px;
  }

  .partners__group {

    &:last-child .partners__item {
      margin-bottom: 0;
    }
  }

  .partners__item {
    width: 25%;
    padding: 0 13px;
    margin-bottom: 67px;

    &:nth-child(2n-1) {
      padding-right: 13px;
    }

    &:nth-child(4n-2) {
      border-right: 1px #d7d7dd solid;
    }
  }

  .partners__logo-wrapper {
    width: 250px;
    margin-bottom: 29px;
  }
}
