.works__title {
  @include h2-m;
  margin-bottom: 18px;
}

.works__text {
  @include text-m;
  margin-bottom: 25px;

  & br {
    display: none;
  }
}


.works__slide {
  @include shadow-card;
  display: none;
  margin-bottom: 25px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  &--active {
    display: block;
  }
}

.no-js .works__slide {
  display: block;
}

.works__img {
  display: block;
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.works__text-wrapper {
  padding: 24px 23px;
}

.works__name {
  @include h3-m;
  margin-bottom: 12px;
}

.works__desc {
  @include text-m;
  margin-bottom: 17px;
}

.works__price {
  @include h3-m;
  width: fit-content;
  padding-bottom: 3px;
  margin-bottom: 0;

  font-size: 15px;

  border-bottom: 3px $second-color solid;
}

.works__pagination {
  margin-top: 25px;
}

.no-js .works__pagination {
  display: none;
}

@media (min-width: $tablet-width) {
  .works__title {
    @include h2-t;
    margin-bottom: 21px;
  }

  .works__text {
    @include text-td;
    margin-bottom: 34px;

    & br {
      display: inline;
    }
  }

  .works__slide {
    margin-bottom: 32px;
    max-width: none;
  }

  .works__text-wrapper {
    padding: 24px 32px 40px;
  }

  .works__name {
    @include h3-td;
    margin-bottom: 9px;
  }

  .works__desc {
    @include text-td;
    margin-bottom: 25px;
  }

  .works__price {
    font-size: 16px;
  }

  .works__pagination {
    margin-top: 47px;
  }
}

@media (min-width: $desktop-width) {
  .works__title {
    @include h2-d;
  }

  .works__text {
    margin-bottom: 49px;
  }

  .works__slides {
    display: flex;
    flex-wrap: wrap;
  }

  .works__slide {
    width: 393px;
    margin-right: 30px;
    margin-left: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .works__text-wrapper {
    padding-bottom: 32px;
  }

  .works__pagination {
    margin-top: 24px;
  }
}
